.nav-pills .nav-link.active {
    background-color: #A5A58D;
    box-shadow: 1px 1px 10px black;
  }
.coolfärg{
    background-color: #6B705C;
}
.logo{
    height: 300px;
}
.skugga{
    text-shadow: 2px 2px 4px black;
}
.flex-column{
    width: 150px;
}
.bg-ash{
    background-color: #B7B7A4;
    box-shadow: 2px 2px 15px black;
    border-radius: 25px;
}

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 100;
    font-style: normal;
    font-size: medium;
    color: white;
}

.sofia-sans{
    font-family: "Sofia Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 20px;
  }