.nav-pills .nav-link.active {
    background-color: #A5A58D;
    box-shadow: 1px 1px 10px black;
  }
.coolfärg{
    background-color: #6B705C;
}
.skugga{
    text-shadow: 2px 2px 4px black;
}
.flex-column{
    width: 150px;
}
.logo{
    height: 125px;
    width: 130px;
}

.bg-ash{
    background-color: #B7B7A4;
    box-shadow: 2px 2px 15px black;
}
.cart-block-prop{
    width: 300px;
    height: 30px;
    border-radius: 25px;
}
.board-prop{
    width: 60px;
    height: 45px;
    border-radius: 25px;
}
.product-card{
    width: 15rem;
    background-color: #B7B7A4;
    box-shadow: 2px 2px 15px black;
}
.btn-primary{
    background-color: #A5A58D;
    border-color: transparent;
    box-shadow: 2px 2px 15px black;
}
.btn-primary:hover{
    background-color: #B7B7A4;
}
.remove{
    background-image: url(../assets/remove.png);
    background-color: transparent;
    height: 25px;
    width: 25px;
    border: none;
}
.list-group-item{
    background-color: #B7B7A4;
    border-color: transparent;
    
}
.cart{
    border-radius: 25px;
}
.material-icons.md-36 { font-size: 36px; }
.offcanvas-header{
    align-items: center;
}
#shopping-cart{
    cursor: pointer;
}

.sofia-sans{
    font-family: "Sofia Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 20px;
}

.material-symbols-rounded {
    font-size: 16px !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined {
    font-size: 16px !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  
}